@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --animate-infinite-slide: infinite-slide 1.5s infinite linear;

  @keyframes infinite-slide {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(300%);
    }
  }
}

body {
  background-color: #f8fafc;
  color: #1e293b;
  font-family: var(--font-sans);
}
